<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <header class="pure-g" id="banner-header">
        <div class="pure-u-1" id="banner">

          <nav id="navbar">
            <a href="/home">Home</a>
            {{#if loggedIn}}
              <a href="/dashboard">Dashboard</a>
              <button id="logout" class="btn-logout">Logout</button>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
          </nav>

          <div id="title">
            <h1>The Tech Blog</h1>
          </div>

        </div>
      </header>

      <main>
        {{{body}}}
      </main>

    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>