<div class="pure-g" id='edit-post-row'>
  <div class="pure-u-1" id='edit-post-column'>

    <div class="back-to-dashboard">
      <a href="/dashboard"> &larr; Back to dashboard</a>
    </div>
    
    <div class="edit-post-container">
      <h2>
        Edit Post
      </h2>
      <form class="edit-post-form">
        <div>
          <label for="post-title">Title</label>
          <input id="post-title" name="post-title" type="text" value="{{post.title}}" />
          <label for="post-content">Content</label>
          <textarea id="post-content" name="post-content" type="text">{{ post.content }}</textarea>
        </div>
        <div>
          Created by you on {{format_date post.created_at}}
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
      </form>
    </div>

    <div class="edit-comment-container">
      <h2>Add Comment</h2>
      <form class="comment-form">
        <div>
          <textarea id="comment-body" name="comment-body"></textarea>
        </div>

        <div>
          <button type="submit">add comment</button>
        </div>
      </form>
    </div>

    <div class="comment-list-container">
      <h2>Comments</h2>
      {{> comments post.comments}}
    </div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>